:root{
  --cyan: #00FFFE;
}

.button-container{
  width: 93vw;
  padding: 0 35px 0 35px;
  display: flex;
  justify-content: space-around;
}

.button-container p{
  color: white;
  font-weight: bold;
}

.button-page{
  height: 30px;
  width: 65px;
  background-color: var(--cyan);
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.button-none{
  background-color: transparent;
  border: none;
  height: 30px;
  width: 65px;
}